#product-arangement{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  }
  
  h3{ 
    display: flex;
    justify-content: center;
    width: 100vw;
  
  }
  
  .item-display{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2.5vw;
    flex-wrap: nowrap;
    box-sizing: border-box;
    border: dodgerblue solid 5px;
    border-radius: 20px;
    background-color: lightgoldenrodyellow;
    width:40vw;
  }
  
  .item-display img{
    width: 40%;
    border-radius: 14px;
  }
  
  .item-display button{
    display: block;
    width:40%;
  }