* {
  background-color: lightgoldenrodyellow;
  overflow-x: hidden;
}

#banner{
  width:100vw;
  height:55vw;
}

#open{
  width:100vw;
}

@keyframes hidebanner{
  from{
    transform:translateY(100%)
  }
  to{
    transform: translateY(0%);
  }
}

#closed{
  animation-name: hidebanner;
  animation-duration: 1000ms;
  display: none;
}

#arrow{
  /* position:relative;
  bottom:20vw;
  left: 80vw;
  border-radius: 15vw;
  height: 15vw;
  width: 15vw; */
  display: none;
}

#shopImg{
  width: 65vw;
  /* height:30vw; */
  border-radius: 15px;
  margin:5vw;
}

#aboutImg{
  width:65vw;
  /* height:30vw; */
  border-radius: 15px;
  margin: 5vw;
}

#links{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: baseline;
  margin:2vw;
}

#links h2{
  display:none;
}

@media (min-width:1000px){
  /* #banner{
  height:100vh;
  width:100%;
  } */

  #shopImg{
    width: 45vw;
    margin: 0;
  }

  #aboutImg{
    width:45vw;
    margin: 0;
  }

  #links{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: baseline;
    margin:2vw;
  }

  #links h1{
    width:40vw;
  }

  #links h2{
    display: contents;
    width: 10vw;
  }

  #arrow{
    display:flex;
    position:absolute;
    bottom:10vw;
    left: 80vw;
    border-radius: 15vw;
    height: 15vw;
    width: 15vw;
  }

  #closed{
    display:none;
  }
}