#header{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 175%;
  width: 100vw;
}

.links{
  margin:5px;
}


@media(min-width:675px){

  #header{
    margin:20px;
    font-size: 200%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .links{
    margin:5px;
  }
}
/* 
#links{
  margin:20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 200%; */
/* } */