
  #product-arangement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
  }
  
  h3{ 
    display: flex;
    justify-content: center;
    width: 100vw;
    
  }
  
  .item-display{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2.5vw;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: dodgerblue solid 5px;
    border-radius: 20px;
    background-color: lightgoldenrodyellow;
    /* width:40vw; */
    font-family: cursive;
  }
  
  .item-display img{
    width: 90vw;
    border-radius: 14px;
    margin:10px;
  }
  
  .item-display button{
    display: block;
    width:120px;
    height:60px;
    font-family: cursive;
  }
  
  #new-product{
    width:35vw;
    height:35vw;
    border:dodgerblue solid 5px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #new-product input{
    margin:10px;
    background-color:lightpink;
  }
  
  #new-product button{
    margin: 10px;
    background-color:lightseagreen
  }




@media(min-width:800px){

  #product-arangement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
  }
  
  h3{ 
    display: flex;
    justify-content: center;
    width: 100vw;
    
  }
  
  .item-display{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2.5vw;
    flex-wrap: nowrap;
    box-sizing: border-box;
    border: dodgerblue solid 5px;
    border-radius: 20px;
    background-color: lightgoldenrodyellow;
    width:40vw;
  }
  
  .item-display img{
    width: 40%;
    border-radius: 14px;
  }
  
  .item-display button{
    display: block;
    width:40%;
  }
  
  #new-product{
    width:35vw;
    height:35vw;
    border:dodgerblue solid 5px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #new-product input{
    margin:10px;
    background-color:lightpink;
  }
  
  #new-product button{
    margin: 10px;
    background-color:lightseagreen
  }
}